/* General styling */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #e0f7fa, #80deea);
    color: #444;
    text-align: center;
    padding: 50px;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Header styling */
#header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #00838f;
    text-shadow: 1px 1px #b2ebf2;
}

/* Button styling */
.styled-button {
    background: #4db6ac;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

.styled-button:hover {
    background: #00897b;
    transform: translateY(-3px);
}

#image-container {
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Ensures the image container doesn't exceed the page width */
    height: auto;
    display: centre; /* Centers the image container */
}

#image {
    width: 100%; /* Make the image width relative to the container's width */
    height: auto; /* Maintain aspect ratio */
    max-width: 500px; /* Set a maximum width to prevent it from being too large */
    transition: all 0.3s ease;
    border-radius: 15px;
}

/* Form styling */
.styled-form {
    margin-top: 20px;
}

.styled-form input[type="text"] {
    padding: 12px;
    font-size: 16px;
    margin-right: 10px;
    border: 2px solid #4db6ac;
    border-radius: 25px;
    width: 60%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.8);
    color: #444;
}

.styled-form input[type="text"]:focus {
    border-color: #00838f;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 131, 143, 0.3);
}

.styled-form input[type="submit"] {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #4db6ac;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

.styled-form input[type="submit"]:hover {
    background-color: #00897b;
    transform: translateY(-3px);
}

/* Container for dynamically added text */
#dynamic-text-container {
    margin-top: 20px;
    font-size: 18px;
    color: #00695c;
    text-shadow: 1px 1px #b2dfdb;
}

/* Paragraph styling */
.text {
    font-size: 20px;
    color: #666;
    margin-bottom: 15px;
}

/* Transition effects for visual elements */
button, #image, #dynamic-text {
    transition: all 0.3s ease;
}
